*.log*
*.xlsx*
*.csv*
*.bak*
*.tmp*
*.old*
*.swp
*.ps1~
*.mdf
*.ldf
*.cache
*.db
*.txt*
*.json*
*.xml*
*.pfx*
*.cer*
*.key*
*.pem*
*.zip*
*.tar*
*.gz*
*.7z*
*.iso*
*.vhd*
*.vmdk*
*.bak*
*.backup*
*.log*
*.xlsx*
*.csv*
*.tmp*
*.old*
*.swp
*.ps1~
*.mdf
*.ldf
*.cache
*.db
*.txt*
.markdownlint.json
